<%= form_for(@application) do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label "where do you live?" %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label "How old are you?" %><br>
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label "Tell us why you're interested in Code Abroad." %><br>
    <%= f.text_area :reason_for_interest %>
  </div>
  <div class="field">
    <%= f.label "What's your education background? " %><br>
    <%= f.text_field :educational_background %>
  </div>
  <div class="field">
    <%= f.label 'Any current or previous jobs? Tell us about them.' %><br>
    <%= f.text_field :employment_background %>
  </div>
  <div class="field">
    <%= f.label 'Coding Experience? its okay to say none!'  %><br>
    <%= f.text_field :code_experience %>
  </div>
  <div class="field">
    <%= f.label "any foreign language experience, such as high school or college courses? " %><br>
    <%= f.text_field :foreign_languages %>
  </div>
  <div class="field">
    <%= f.label "list any foreign countries you've visited" %><br>
    <%= f.text_field :travel_experience %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
