<!DOCTYPE html>
<html>
<head>
  <title>CodeAbroad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'shared/navbar' %>
<%= yield %>

</body>
<div class="container-fluid" id="footer">
  <footer>
        <p>&copy; Code Abroad</p>
        <ul>
            <li> <a href="#">About </a></li>
            <li> <a href="#">Contact </a></li>
        </ul> 
  </footer>
</div>
</html>
